VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=

VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_PUBLIC_KEY=
VITE_EMAILJS_TEMPLATE_CONFIRM=
VITE_EMAILJS_TEMPLATE_DELIVERED=
VITE_ADMIN_EMAIL=

BULKSMSBD_API_KEY=
BULKSMSBD_SENDER_ID=
